<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% include "partials/head.html" | safe %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            {% include "partials/header.html" %}
            {% endblock %}
        </header>
        
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        {% block scripts %}
        {% include "partials/parts/scripts.html" %}
        {% endblock %}
    </body>
</html>